<div class="w-100 d-flex" style="height: 100vh">
  <form class="card m-auto p-4" style="width: 36em" [formGroup]="signUpFormGroup" (ngSubmit)="signUp()">
    <h3>Sign Up</h3>

    <!-- ///////////////////////////// Name ///////////////////////////// -->
    <div class="form-floating mb-3 mt-4">
      <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
      <label for="email">Name</label>
    </div>

    <!-- ///////////////////////////// Last Name ///////////////////////////// -->
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="last-name" placeholder="Last Name" formControlName="lastname">
      <label for="last-name">Last Name</label>
    </div>

    <!-- ///////////////////////////// Address ///////////////////////////// -->
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
      <label for="address">Address</label>
    </div>

    <!-- ///////////////////////////// Email ///////////////////////////// -->
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
      <label for="email">Email</label>
    </div>

    <!-- ///////////////////////////// Password ///////////////////////////// -->
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
      <label for="password">Password</label>
    </div>

    <button class="btn btn-primary btn-lg w-100 mt-4" type="submit" [disabled]="!signUpFormGroup.valid">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ isLoading ? "Loading" : "Register" }}
    </button>

  </form>
</div>
