<div class="card h-100">
  <!-- Sale badge-->
  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
  <!-- Product image-->
  <div>
    <img class="card-img-top p-3" src="{{producto.image}}" alt="..."/>
  </div>
  <!-- Product details-->
  <div class="card-body p-5">
    <div class="text-center">
      <!-- Product name-->
      <h5 class="fw-bolder">Special Item</h5>
      <!-- Product reviews-->
      <app-reviews [rating]="producto.rating" [centerStars]="true" ></app-reviews>
      <!-- Product price-->
      <span class="text-muted text-decoration-line-through">$ {{producto.price}}</span>
    </div>
  </div>
  <!-- Product actions-->
  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center">
      <button
        class="btn mt-auto"
        [ngClass]="agregadoAlCarrito ? 'btn-danger' : 'btn-outline-dark'"
        (click)="agregarProducto(producto)">
          {{ agregadoAlCarrito ? "Remove from cart" : "Add to cart" }}
      </button>
    </div>
  </div>
</div>
