<div class="w-100 d-flex" style="height: 100vh">
  <form class="card m-auto p-4" style="width: 36em" [formGroup]="signInFormGroup" (ngSubmit)="signIn()">
    <h3>Sign In</h3>
    <!-- ///////////////////////////// Email ///////////////////////////// -->
    <div class="form-floating mb-3 mt-4">
      <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
      <label for="email">Email</label>
    </div>

    <!-- ///////////////////////////// Password ///////////////////////////// -->
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password" placeholder="name@example.com" formControlName="password">
      <label for="password">Password</label>
    </div>

    <p class="btn">Forgot password?</p>

    <button class="btn btn-primary btn-lg w-100 mt-4" type="submit" [disabled]="!signInFormGroup.valid">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ isLoading ? "Loading" : "Sign In" }}
    </button>

    <p class="btn btn-link mt-3" (click)="signUp()">Register</p>
  </form>
</div>
